---
import Layout from '../layouts/Layout.astro';
import Container from '../components/container.astro';
---

<Layout title="Leonardo Palomino">
	<Container>
		<div class="mt-24 mb-10 flex gap-8 w-full items-center">
			<svg class="h-11 w-11 mx-2" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M9.99994 10L14.9999 10L14.9999 15L9.99994 15L9.99994 10Z" fill="#C94960"/>
				<path d="M15 0L20 1.06e-06V5L15 5L15 0Z" fill="#C94960"/>
				<path d="M4.99994 20L9.99994 20L9.99994 25L4.99994 25L4.99994 20Z" fill="#C94960"/>
				<path d="M4.99994 0L9.99994 1.06e-06L9.99994 5L4.99994 5L4.99994 0Z" fill="#C94960"/>
				<path d="M14.9999 20L19.9999 20V25L14.9999 25L14.9999 20Z" fill="#C94960"/>
				<path d="M20 5L24.9999 5L24.9999 20L19.9999 20L20 5Z" fill="#C94960"/>
				<path d="M-5.95384e-05 5L4.99994 5L4.99994 20L-6.10352e-05 20L-5.95384e-05 5Z" fill="#C94960"/>
			</svg>
			<span class="font-normal">I'm<br/><span class="text-2xl font-semibold">Leonardo Palomino</span></span>
		</div>
		<p class="mt-5">
			a <a href="https://github.com/leomino" class="underline decoration-violet-400 decoration-2" title="Github"
			target="_blank">software developer</a> and computer-science student
			<a href="/living-in-munich" class="underline decoration-sky-500 decoration-2" title="Photos of hiking">
			    living in Munich, Germany.
			</a>
			I get exited about everything that has to do with computers, languages and music.
			I also like to draw and design things.
		</p>
		<br/>
		<p>
			Sometimes <a href="https://medium.com/@leomino" class="underline decoration-pink-500 decoration-2"
			title="Medium" target="_blank">I publish articles</a> about fascinating topics or concepts that blew my mind
			 when I first learned about them.
		</p>
		<br/>
		<p>
			Explaining these concepts in your own words and drawing sketches to them, will take you through the journey
			of reading all about it for weeks or even months. I'm truly convinced that this is one of the best and most
			rewarding ways to learn new things, even if you just write them for yourself.
		</p>
	</Container>
</Layout>
