---
import MobileHeader from "./MobileHeader";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.replaceAll("/", "");
---

<div class="py-3 md:py-1 border-b-2 border-dotted text-slate-800 text-[0.95rem] md:text-sm">
    <div class="max-w-screen-md m-auto flex justify-between px-4 md:pb-1">
        <span>Hey there 👋, welcome to my personal website</span>

        <div class="hidden md:block">
            <a href="/" class={currentPath === "" ? "underline decoration-2 font-semibold" : "underline"} title="About">About</a>
            <a href="/living-in-munich" class={currentPath === "living-in-munich" ? "underline decoration-2 font-semibold" : "underline"} title="Photos">Photos</a>
        </div>
        
        <div class="md:hidden">
            <MobileHeader client:media="(max-width: 768px)" currentPath={currentPath}></MobileHeader>
        </div>
    </div>
</div>
