---
import ImageStack from './ImageStack';

export interface Props {
	images: Array<string>;
    title: string;
    href?: string;
}

const { images, title, href } = Astro.props;

---

<a class="flex flex-col md:w-[22rem]" href={href}>
    <ImageStack images={images} client:visible></ImageStack>
    <p class="font-semibold">{title}</p>
    <p class="text-slate-700 w-full">
        <slot/>
    </p>
</a>
